@import 'base';

#bg-splash {
    img {
        width: 100%;
    }
}

#pfc-header {
    width: 100%;
    color: white;
    background-color: $primary-color;
    margin: 0;
    #pfc-name {
        vertical-align: text-top;
        font-size: 1000%;
        font-weight: bold;
        line-height: 20%;
        padding-bottom: 100px;
        padding-left: 5%;
    }
    #pfc-expand {
        padding-left: 6%;
        font-size: 150%;
        padding-bottom: 20px;
    }
    #pfc-desc {
        font-size: 150%;
        padding-top: 5%;
        text-align: center;
    }
}

#pfc-about {
    padding-top: 5%;
    width: 100%;
    #logo {
        padding-left: 5%;
        width: 45%;
        img {
            padding-left: 10%;
            width: 80%;
        }
    }
    #about {
        padding-top: 150px;
        h5 {
            padding-bottom: 20px;
            padding-top: 20px;
            text-align: center;
        }
    }
}